.navigation-button {
    -fx-background-color: #211D5A;
    -fx-background-radius: 12 0 0 12;
    -fx-text-fill: white;
}

.navigation-button:hover {
    -fx-background-color: white;
    -fx-text-fill: #211D5A;
}


/*split-pane and buttons*/
.split-pane-background {
    -fx-background-radius: 35 0 0 35;
    -fx-background-color: #F2F4FF;
}

.split-pane-divider {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-background-color: #211D5A;
    -fx-padding: 0 0 0 0;
}

.title-first {
    -fx-font-family: 'Comic Sans MS';
    -fx-font-size: 40px;
    -fx-text-fill: #211d5a;
}

.icon-background {
    -fx-background-color: rgba(33, 29, 90, 0.55);
}

.icon-plus {
    -fx-background-radius: 4px 0 0 4px;
}

.icon-trash {
    -fx-background-radius: 0 0 0 0;
}

.icon-gear {
    -fx-background-radius: 0 4px 4px 0;
}

.icon-background:hover {
    -fx-background-color: #211d5a;
}

.search-field {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: rgba(33, 29, 90, 0.55);
}

/*table view*/
.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:  #F2F4FF;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill:#000000;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #000000;
    -fx-alignment: center;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #F2F4FF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-border-color: #211D5A;
    -fx-table-cell-border-color:#211D5A;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color,  #F2F4FF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #F2F4FF;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

/*scroll-bar vertical*/
.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color:  #211D5A;

}

/*scroll-bar horizontal*/
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #211D5A;
}


.title-form {
    -fx-font-family: 'Comic Sans MS';
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.input-form {
    -fx-border-color: #b3b5ba;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.input-description {
    -fx-text-fill: #211D5A;
    -fx-font-size: 16px;
}

.button-style {
    -fx-font-family: 'Comic Sans MS';
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 1px;
    -fx-padding: 8px 20px 8px 20px;
}

.button-dark {
    -fx-background-color: #211D5A;
    -fx-text-fill: white;
}

.button-light {
    -fx-background-color: #F2F4FF;
    -fx-border-color: #b3b5ba;
    -fx-text-fill: #211D5A;
}



