.navigation-button {
    -fx-background-color: #211D5A;
    -fx-background-radius: 20 0 0 20;
    -fx-text-fill: white;
}

.navigation-button:hover {
    -fx-background-color: white;
    -fx-text-fill: #211D5A;
}


/*split-pane and buttons*/
.split-pane-background {
    -fx-background-radius: 35 0 0 35;
    -fx-background-color: #F2F4FF;
}

.split-pane-divider {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-background-color: #211D5A;
    -fx-padding: 0 0 0 0;
}

.title-first {
    -fx-font-family: 'Candara';
    -fx-font-size: 40px;
    -fx-text-fill: #211d5a;
}

.icon-background {
    -fx-background-color: rgba(33, 29, 90, 0.55);
}

.icon-plus {
    -fx-background-radius: 4px 0 0 4px;
}

.icon-trash {
    -fx-background-radius: 0 0 0 0;
}

.icon-gear {
    -fx-background-radius: 0 4px 4px 0;
}

.icon-background:hover {
    -fx-background-color: #211d5a;
}

.search-field {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: rgba(33, 29, 90, 0.55);
}

/*table view*/
.table-view{
    -fx-background-color: transparent;
    /*-fx-border-collapse:collapse;*/
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;

}
/*
.table-row-cell: odd{
    -fx-background-color: rgb(218, 238, 247);
}
*/
.table-row-cell:selected {
    -fx-background-color: #211D5A;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected .text {
    -fx-fill: #FFFFFF;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
/*
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}
*/

.table-view .column-header {
    -fx-background-color: transparent;
}

/*
.table-view .table-cell {
    -fx-text-fill: #000000;
    -fx-alignment: center;
}
*/

.table-row-cell {
    -fx-background-color: #F2F4FF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    /*
    -fx-border-color: #211D5A;
    -fx-table-cell-border-color: #211D5A;*/
}
/*
.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color,  #F2F4FF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}




/*scroll-bar vertical*/
.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #211D5A;
}

/*scroll-bar horizontal*/
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #211D5A;
}


.title-form {
    -fx-font-family: 'Candara';
    -fx-font-size: 24px;
    -fx-text-fill: white;
}


.input-form {
    -fx-border-color: rgba(179, 181, 186, 0.55);
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-background-color: #fff;
}

.input-form:focused {
    -fx-border-color: #5C9DDE;
}

.text-area .content {
    -fx-background-color: #fff;
}

.input-description {
    -fx-text-fill: #211D5A;
    -fx-font-size: 16px;
}

.check-box {
    -fx-text-fill: #211D5A;
}

.check-box .box {
    -fx-border-color: rgba(179, 181, 186, 0.55);
    -fx-background-color: white;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.date-picker > .text-field {
    -fx-background-color: #fff;
}


.button-style {
    -fx-font-family: 'Candara';
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 1px;
    -fx-padding: 8px 20px 8px 20px;
}

.button-dark {
    -fx-background-color: #211D5A;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button-light {
    -fx-background-color: #F2F4FF;
    -fx-border-color: #b3b5ba;
    -fx-text-fill: #211D5A;
    -fx-font-size: 14px;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background: #F2F4FF;
}

.search-view-font-color {
    -fx-text-fill: #211D5A;
}







